#screen{
    width:1280;
    height:800;
    margin:0 auto;
    display:block;
}
#loginPage{
    display:none;
    border:2px solid blue;
    width:400;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    h1{
    text-align:center;
    } 
    #confirm{
	margin-top:10px;
	font-size:30px;
    } 
}